/BCAchievementNotifier.xcodeproj/project.xcworkspace/
BCAchievementNotifier.xcodeproj/xcuserdata/jbuhler.xcuserdatad/xcschemes/BCAchievementNotifier.xcscheme
BCAchievementNotifier.xcodeproj/xcuserdata/jbuhler.xcuserdatad/xcschemes/xcschememanagement.plist